/* -------------------------------------- */
/*            Fichier css                 */
/* -------------------------------------- */

html {
	background-color: lemonchiffon;
	margin: 0px;
	padding-right: 10%;
	padding-left: 10%;
}

body {
	font-family: arial, sans-serif; /* On met la police en arial */
	padding : 3%;
	margin: 0%;
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
}

h1 {
	font-size: 250%;
	padding: 1%;
	text-align: center;
	border-width: 10px;
	border-style: solid;
	border-color: #2798F5;
	text-transform: uppercase;
}

.commandes {
	background-color: #a6c6e1;
	padding: 1px;
	margin-bottom: 2.5%;
}

.commandes > h2 {
	font-size: 150%;
	padding-left: 1%;
	font-family: monospace;
	color: white;
	background-color: black;
}

.commandes h2::before {
	content: "etudiantserieux@ordinateur:~$";
	color: #1e7200;
}

.commandes > p {
	font-size: 110%;
	padding-left: 2%;
	font-style: italic;
	color: #666f75;
}