/* -------------------------------------- */
/*            Fichier css                 */
/* -------------------------------------- */

body {
	font-family: arial, sans-serif; /* On met la police en arial */
	margin: 0px;
}

body > h1 {
	font-size: 280%;
	padding: 1%;
	text-align: center;
	border-width: 10px;
	border-style: solid;
	border-color: #2798F5;
}